div {
    background-color: deepskyblue;
    height: 100px;
    width: 100px;
}
h1 {
    color: white;
    background-color: dimgray;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    border: 5px solid red;
}
p {
            font-size: 25px;
            font-family: helvetica,arial;
            background: green;
            color: white;
            padding: 20px;
}
