* {
    margin: 0;
    padding: 0;
}
p {font-size: 30px;}
.deradial {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle at 30% 30%, yellow, black);
    border-radius: 50%;
}
.uno {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle at top, yellow, #0089ff, #ea0000);
    border-radius: 50%;
}
.dos {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle, #0093ff, #ff0707, #0080ff);
    border-radius: 50%;
}
.tres {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle closest-side, yellow, black);
}
.tres p { text-align: center;color: white;padding: 150px; }
.cuatro {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle farthest-corner at 10% 15%, yellow, black);
}
.cuatro p { text-align: center;color: white;padding: 150px; }
.cinco {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle closest-corner, yellow, black);
}
.cinco p { text-align: center;color: white;padding: 150px; }
.seis {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle farthest-side, yellow, black);
}
.seis p { text-align: center;color: white;padding: 150px; }
.contenedor {
    background: linear-gradient(#3030ff, #00a7ff);
    width: 350px;
    height: 350px;
    margin: 100px auto;
}
.siete {
    width: 300px;
    height: 300px;
    float: left;
    margin: 25px ;
    background: radial-gradient(circle at 30% 50%, rgba(255, 255, 0, 0) 50%, black);
    border-radius: 50%; 
}

